body {
  background-color:pink;
  font-family: 'Milky Coffee', sans-serif;
}

p {
  color: palevioletred;
  font-family: 'Milky Coffee', sans-serif;
  font-size: large;
  font-weight: bold;
}

h1 {
font-size: 80px;
text-align: center;
/* margin-left: 200px ; */
color: papayawhip;
}

.selector {
  text-align: center;
/* margin-left: 700px; */
font-size: xx-large;
color: peachpuff;

}

.button {
margin-left: 250px;
margin-top: 10px;
}

img {
width: 450px;
margin-left: -290px;
}

iframe {
  aspect-ratio: 16 / 9;
  height: 300px;
/* margin-bottom: 60px; */
/* margin-left: 55px; */
/* width: 450px; */
/* height: 450px; */
}

.movieselect {
margin-left: -400px;
}
